body
{
	background-image: url(img/high-angle-shot-colorful-candies-heart-shaped-lollipop-perfect-cool-wallpaper.jpg);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #efefef;
	background-size: 100%;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
	margin-bottom: 25px;
	background-color: #92129e;
}

.postcard
{
	display: inline-block;
	width: 460px;
	text-align: center;
	padding: 5px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

h1
{
	font-size: 77px;
	font-weight: 800;
	color: #39a5f1;
	margin-top: 45px;	
	margin-bottom: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
	background-color: #e705b6dc;
}

/* Hover effects */

.photo1
{
	width: 450px;
}


.photo2
{
	width: 450px;
}

.photo3
{
	width: 450px;
}

.photo4
{
	width: 450px;
}

.photo5
{
	width: 450px;
}

.photo6
{
	width: 450px;
}
footer{
	width: 100%;
	background-color: #3b3c3d;
	margin: 0%;
	text-align: center;
	font-size: 30px;
}
